<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			bakapp
		</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="javascripts/libs/jquery/dist/jquery.js"></script>
		<script src="javascripts/main.js"></script>
	</head>
	<body>
		<div id="bean-area">
			<div id="contents">
				<div id="logo">
					Bakapp
				</div>
				<div id="top-description">
					まじめにおばかアプリをみんなで作ろう！
				</div>
				<div id="top-release">
					2015年3月中旬スタート!!
				</div>
<form action="">
				<div id="mail-form">
					<input type="text" autocomplete="off" id="mail-input" placeholder="メールアドレスを入れお知らせを受け取る">
					<div id="mail-form-button">
						送信
					</div>
				</div>
</form>
			</div>
			<div id="idea">
				<div id="idea-description">
					<h3>
						みんなのおばかアプリプロジェクト
					</h3>
				</div>
<form id="pj-form" action="">
				<div id="project-form">
					<input type="text" id="pj-title" placeholder="作りたいおばかアプリを入力する">
					<div id="project-form-button">
						送信
					</div>
				</div>
				<ul id="messages">
					<% results.forEach(function(list){ %>
					<li class="idea-li">
						<div class="idea-content-text"><%= list.title %></div>
						<div class="idea-content-footer">
							obaka！<span class="idea-good-num"><%= list.id %></span>
						</div>
					</li>
					<% }) %>
				</ul>
			</div>
</form>
			<div id="footer">
				<div id="copyright">
					©2015 Bakapp
				</div>
			</div>
	</BODY>
</HTML>
