<!DOCTYPE html>
<meta charset="UTF-8">
<title>chat</title>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/libs/jquery/dist/jquery.js"></script>
<script src="/javascripts/mock.js"></script>
<form id="chat"><input id="chat-input"></form><div></div>
