<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <!--<link href="/stylesheets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/stylesheets/t/paper/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/t/paper/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/stylesheets/mockstyle.css" rel="stylesheet">
    <link href="/stylesheets/t/paper/bootswatch.min.css" rel="stylesheet">
    <link href="/stylesheets/t/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/javascripts/libs/jquery/dist/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/mock.js"></script>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		<!--<a class="navbar-brand" href="#">Project name</a>-->
		<a href="./" class="navbar-brand logo-top">
			<img src="images/logo.png" alt="Zerif">bakappli
		</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="article-img-detail">
            <img src="/images/mock/img01.png">
          </div>
          <div class="article-txt-detail">
            <h3>子供靴のピコピコ気分！自分の歩速に連動して音がなったら楽しいなぁ</h3>
            <p><i class="fa fa-heart"></i> 14750　<i class="fa fa-comment"></i> 99 </p>
          </div>
        </div>
      </div>

      <div class="summary">
        <p>概要</p>
        <p></p>
      </div>

      <div class="row">
        <div class="article-img">
          <img src="/images/mock/img02.png">
        </div>
        <div class="article-txt">
          <h3>もう歪まない！建築現場で使えるピタゴラスの定理計算機「ドカタノミカタ」</h3>
          <p><i class="fa fa-heart"></i> 14750　<i class="fa fa-comment"></i> 99 </p>
        </div>
      </div>
      <div class="row">
        <div class="article-img">
          <img src="/images/mock/img03.png">
        </div>
        <div class="article-txt">
          <h3>おならで健康チェック！おならセンシングウェラブルデバイス</h3>
          <p><i class="fa fa-heart"></i> 14750　<i class="fa fa-comment"></i> 99 </p>
        </div>
      </div>
      <div class="row">
        <div class="article-img">
          <img src="/images/mock/img01.png">
        </div>
        <div class="article-txt">
          <h3>子供靴のピコピコ気分！自分の歩速に連動して音がなったら楽しいなぁ</h3>
          <p><i class="fa fa-heart"></i> 14750　<i class="fa fa-comment"></i> 99 </p>
        </div>
      </div>
      <div class="row">
        <div class="article-img">
          <img src="/images/mock/img02.png">
        </div>
        <div class="article-txt">
          <h3>もう歪まない！建築現場で使えるピタゴラスの定理計算機「ドカタノミカタ」</h3>
          <p><i class="fa fa-heart"></i> 14750　<i class="fa fa-comment"></i> 99 </p>
        </div>
      </div>
      <div class="row">
        <div class="article-img">
          <img src="/images/mock/img03.png">
        </div>
        <div class="article-txt">
          <h3>おならで健康チェック！おならセンシングウェラブルデバイス</h3>
          <p><i class="fa fa-heart"></i> 14750　<i class="fa fa-comment"></i> 99 </p>
        </div>
      </div><div class="row more">MORE</div>
    </div>
<!--
    <div class="footer">
      <div class="container">
        <p class="text-muted">もっと見る</p>
      </div>
    </div>
-->
<!--
    <div class="footer">
      <div class="container">
<div class="fa-hover col-md-3 col-sm-4"><a href="../icon/facebook-square"><i class="fa fa-facebook-square"></i></a></div>
<div class="fa-hover col-md-3 col-sm-4"><a href="../icon/twitter-square"><i class="fa fa-twitter-square"></i></a></div>
<div class="fa-hover col-md-3 col-sm-4"><a href="../icon/twitter-square"><i class="fa fa-pie-chart"></i></a></div>
<div class="fa-hover col-md-3 col-sm-4"><a href="../icon/twitter-square"><i class="fa fa-cloud-upload"></i></a></div>
      </div>
    </div>
-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>