/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 1px;
  font-size: 10px; font-size: 1.0rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Custom page CSS bht
-------------------------------------------------- */
  .logo-top {
  min-width: 40%;
}

.logo-top img {
  height: 25px;
  float: left;
}
.article-img img {
  clear: both;
  float: left;
  width: 40%;
  padding:0 5px 10px 5px;
}
.article-txt {
  float: left;
  width: 60%;
} 
.article-txt h3 {
  margin: -2px 0 0 0;
  font-size: 16px; font-size: 1.6rem;
line-height: 115%;
}
.article-txt p {
  font-size: 12px; font-size: 1.2rem;
}
.more {
  padding: 10px;
  border: 1px solid #cccccc;
  text-align: center;
  font-size: 16px; font-size: 1.6rem;
}
/* mock-detail*/
.base {
  font-size: 16px; font-size: 1.6rem;
  line-height: 120%;
 }

.article-img-detail img {
  width: 100%;
}
.article-txt-detail h3 {
  margin: 10px 0;
  font-size: 20px; font-size: 2.0rem;
line-height: 120%;
}
.summary dt {
  border-top: 1px solid #cccccc;
  color:  #ff0000;
  padding: 15px 15px 0 15px;
}
.summary dd {
  padding: 0 15px;
  line-height: 140%;
}
.add {
  margin: 20px 40px;
  padding: 15px;
  background-color: #ff0000;
  text-align: center;
  color: white;
}
.f-menu {
  border-top: 1px solid #cccccc;
  text-align: center;
}
.f-menu ul{
  margin: 0;
  padding: 0;
}
.f-menu img {
  width: 33px;
 margin: 15px
}
.f-menu li {
  display: inline;
}